.navbar__container {
  display: flex;
  min-height: 10vh;
  align-items: center;
  padding: 10px 100px;
}
.navbar__logo {
  flex: 1;
}
.navbar__links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.navbar__links ul {
  display: flex;
  list-style: none;
}
.navbar__links ul a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #bdbdbd;
  padding: 10px 20px;
  margin: 0 20px;
  transition: all 0.2s ease-in-out;
}
.navbar__links ul a:last-child {
  background-color: #0d8bfc;
  color: white;
}
.navbar__links ul a:hover {
  color: #0c7bde;
}
.navbar__links ul a:last-child:hover {
  color: white;
  background-color: #0c7bde;
}

@media screen and (max-width: 500px) {
  .navbar__container {
    padding: 10px 30px;
  }
  .navbar__links ul a {
    margin: 0;
  }
}
